<div className="py-12 px-6">
  <div className="w-full flex items-center justify-between mb-6">
    <p className="text-2xl font-somarBold  ">سجل العمليات</p>
    <span className="text-[#D32F2F] ">
      <CloseIcon />
    </span>
  </div>
  <hr className="w-full h-px bg-light" />
  <div className="flex items-center justify-between p-3 ">
    {/* column1 */}
    <div className="flex flex-col items-start justify-between ">
      <div className="flex items-center gap-2">
        <img src="/src/assets/AnynmosPerson.png" alt="personName" />
        <span className="text-primary text-xl font-somarBold ">
          مدير النظام
        </span>
      </div>
      <p className="mt-6 pt-4">تم اعتماد طلب الشراء</p>
    </div>
    {/* column date */}
    <div className="flex flex-col items-start justify-between ">
      <div className="flex items-center gap-2 justify-center">
        <img src="/src/assets/DateRangeFilled.png" alt="personName" />
        <span className="text-[#00000099]  font-somarBold "> 13/07/2024 </span>
      </div>
      <span className="text-[#00000099] w-full text-center mt-5 ">
        01:2:01:00 AM
      </span>
    </div>
  </div>
  <hr className="w-full h-px bg-light" />
  <div className="flex items-center justify-between p-3 ">
    {/* column1 */}
    <div className="flex flex-col items-start justify-between ">
      <div className="flex items-center gap-2">
        <img src="/src/assets/AnynmosPerson.png" alt="personName" />
        <span className="text-primary text-xl font-somarBold ">
          مدير النظام
        </span>
      </div>
      <p className="mt-6 pt-4">تم اعتماد طلب الشراء</p>
    </div>
    {/* column date */}
    <div className="flex flex-col items-start justify-between ">
      <div className="flex items-center gap-2 justify-center">
        <img src="/src/assets/DateRangeFilled.png" alt="personName" />
        <span className="text-[#00000099]  font-somarBold "> 13/07/2024 </span>
      </div>
      <span className="text-[#00000099] w-full text-center mt-5 ">
        01:2:01:00 AM
      </span>
    </div>
  </div>
  <hr className="w-full h-px bg-light" />
  <div className="flex items-center justify-between p-3 ">
    {/* column1 */}
    <div className="flex flex-col items-start justify-between ">
      <div className="flex items-center gap-2">
        <img src="/src/assets/AnynmosPerson.png" alt="personName" />
        <span className="text-primary text-xl font-somarBold ">
          مدير النظام
        </span>
      </div>
      <p className="mt-6 pt-4">تم اعتماد طلب الشراء</p>
    </div>
    {/* column date */}
    <div className="flex flex-col items-start justify-between ">
      <div className="flex items-center gap-2 justify-center">
        <img src="/src/assets/DateRangeFilled.png" alt="personName" />
        <span className="text-[#00000099]  font-somarBold "> 13/07/2024 </span>
      </div>
      <span className="text-[#00000099] w-full text-center mt-5 ">
        01:2:01:00 AM
      </span>
    </div>
  </div>
  <hr className="w-full h-px bg-light" />
</div>
