@tailwind base;
@tailwind components;
@tailwind utilities;

/* تعريف الخطوط */
@font-face {
  font-family: "Somar-Bold";
  src: url("/font/alfont_com_Somar-Bold.woff2") format("woff2"),
    url("/font/alfont_com_Somar-Bold.woff") format("woff"),
    url("/font/alfont_com_Somar-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Somar-Medium";
  src: url("/font/alfont_com_Somar-Medium.woff2") format("woff2"),
    url("/font/alfont_com_Somar-Medium.woff") format("woff"),
    url("/font/alfont_com_Somar-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Somar-Light";
  src: url("/font/alfont_com_Somar-Light.woff2") format("woff2"),
    url("/font/alfont_com_Somar-Light.woff") format("woff"),
    url("/font/alfont_com_Somar-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "Somar-Medium", sans-serif !important;
}
::placeholder {
  font-family: "Somar-Medium", sans-serif !important;
}

.css-ugehy5 > .ps-menu-button {
  height: 30px !important;
}

.css-1ip1oky > .ps-menu-button {
  height: 33px !important;
}
*::selection {
  background-color: #2e3188;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background-color: var(--dark-color);
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, gray, #999);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, gray, gray);
}
@layer utilities {
  .GlobalTable th {
    @apply border-b-[0px] ltr:border-r-[0px] rtl:border-l-[0px]  font-[600]  p-2 text-center bg-[#f7f7f7] text-black rounded-t-md;
  }

  .GlobalTable td {
    @apply border-b-[1px] border-l-[0px] font-[500] bg-[white] p-2 text-center text-black;
  }

  .subTable th {
    @apply border-l-[1px] bg-lightGreen p-2 text-center text-;
  }

  .subTable td {
    @apply border-l-[1px] bg-white p-2 text-center text-black;
  }
  .primaryButtons {
    @apply bg-mainColorLight text-main border-purple-200 border-b-[1px] border-l-[0.2px]  w-14 hover:bg-main hover:text-white hover:cursor-pointer  rounded p-1 m-auto;
  }
  .addBtn {
    @apply relative active:top-[1px] md:w-[100px] cutsom-button-sub hover:cursor-pointer py-2 px-4 font-bold rounded-md w-full bg-main dark:bg-dark-tertiary dark:!border-dark-borderDark text-white border border-lightBlack   flex items-center justify-center gap-2;
  }
}
.ps-menu-label{
  @apply font-somarBold

}
.css-1ip1oky >.ps-menu-button {

  height: 36px !important;

}